.header{

    margin-bottom: 50px;
    margin-top: 15px;
    margin-left: 20px;

    &__title-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2em;
    }
}