.video-card{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin-bottom: 20px;

    &__information{
        padding: 0 2px;
    }

    &__title-text{
        font-size: 1em;
        line-height: 1.3em;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__description-text{
        font-size: 0.9em;
    }
}