@import '_normalize';

*{
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    -moz-hyphenate-limit-chars: 6 3 2; /* not yet supported */
    -webkit-hyphenate-limit-chars: 6 3 2; /* not yet supported */
    -ms-hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
}

body{
    box-sizing: border-box;
}

h1, h2, p{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 93%;
    margin: 0 auto;
}